<div
  class="star-wars-people"
  infinite-scroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="5"
  (scrolled)="onScroll()"
>
  <ng-container *ngFor="let person of people">
    <mat-card class="star-wars-person-card" matTooltip="See Details" (click)="navigateToDetail(person)">
      <mat-card-content class="star-wars-person-card-header">
        <mat-card-title class="star-wars-person-card-title">{{person.name}}</mat-card-title>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <div class="spinner">
    <mat-spinner *ngIf="!people || spinnerLoading"></mat-spinner>
  </div>
</div>




